/*
Header font: 
font-family: 'Fugaz One', cursive;

Text font: 
font-family: 'Lato', sans-serif;   


font-family: 'Raleway Dots', cursive;
*/



#container {
    width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #c5d4ae;
    padding: 20px;
    font-family: 'Lato', sans-serif;
}


#firstsection, #secondsection{
    padding: 20px; 
}

h1,
h2 {
    text-align: center;
}

h1,
h2,
h3 {font-family: 
    'Raleway Dots', cursive;
    letter-spacing: 2px;  
}


form {
    padding-left: 20px;
}



blockquote{width: 450px;
color: #6a5757; 
}

table{text-align: center; 

    margin-left: 15%; 
 }

table,
th,
td {
    border: 1px dotted darkgreen;
    border-collapse: collapse;
}


th{background-color: darkgreen; }

th,
td {
    padding: 10px;
}
